* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

span {
    color: #2f86d6;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Topo {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    height: 120px;
    width: 840px;

}
.Logo-topo {
    display: flex;
}

.Topo img {
    width: 68px;
}

.Links a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    margin-left: 15px;
}

.Banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2f86d6;
    height: 483px;
}

.Banner-dados {
    display: flex;
    flex-direction: column;
    width:28%;
    color: #fff;
    padding: 8px;
    
}
.Banner-dados p {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 14px;
}

.Banner-imagem img{
    width: 450px;
}

.Primeiro-anuncio {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #102c47;
    height: 114px;
    color: white;
    font-size: 13px;
}

.Primeiro-anuncio a {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: white;
    margin-left: 7px;
}
.Espaco {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 140px;
    background-color: #2f86d6;
    width: 180px;
    height: 50px;
    border-radius: 5px;
}

.Informacoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 550px;
    width: 100%;
}

.Informacoes-detalhes {
    width: 800px;
    text-align: center;
}

.Informacoes h1 {
    font-size: 26px;
}

.Informacoes-vantagens img {
    width: 75px;
}

.Informacoes-vantagens {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    font-size: 12px;
    text-align: center;
}

.Informacoes-vantagens div {
    margin-left: 10px;
    
}

.Informacoes-vantagens div h2 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.Planos img {
    width: 95px;
}

.Planos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f6f6f6;
    height: 800px;
}

.Planos table {
    margin-top: 52px;
    background-color: #fff;
    height: 550px;
    border: 1px solid #2f86d6;
    box-shadow: 0px 0px 30px 10px #2f86d6;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.Planos th {
    width: 200px;
}

table td:hover{
    background-color: #2f86d6;
    cursor: pointer;
}

.Planos th p:nth-of-type(2) {
   color: gray;
}

.Planos tbody tr:nth-of-type(odd){
    background-color: #f6f6f6;
}

.Planos tbody tr:nth-of-type(even){
    background-color: white;
}

.Segundo-anuncio {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2f86d6;
    color: white;
    height: 150px;
}

.Segundo-anuncio-botao{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkslategray;
    border-radius: 5px;
    height: 60px;
    width: 220px;
    margin-left: 150px;
}

.Segundo-anuncio a {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: white;
    margin-left: 7px;
}

.Logo-rodape {
    display: flex;
    margin-bottom: 50px;
    margin-top: 50px;
}

.Rodape {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 400px;
}

.Rodape p {
    font-weight: bold;
    margin-bottom: 10px;
}

.Rodape img {
    width: 68px;
}

.Aluno {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #b7d7f5;
    margin-top: 50px;
    padding-top: 20px;
}