* {
    font-family: "Source Sans Pro, sans-serif";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #0000008c
}

.Topo {
    background-color: #0099ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Topo-dados {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1024px;
    
}

.Topo-links {
    margin-left: 15px;
    padding: 10px;
}

.Topo-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
    font-weight: bold;
    font-size: 19px;
}

.Topo-links a:hover {
    color:black;
}

.Imagem-fundo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 430px;
    background-image: url("../assets/recepcao.png");
    background-size: cover;
}

.Imagem-fundo h1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    font-size: 30px;
    font-weight: 100;
    width: 1024px;
    
}

.Sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Sobre-lista-informacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Sobre-lista-informacao p {
    padding-bottom: 20px;
}

.Sobre-clinica {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.Sobre-clinica h1 {
    margin-bottom: 20px;
}


.Sobre-lista {
    display: flex;
}

.Especialidade-dados{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Especialidade-dados h2 {
    margin-bottom: 15px;
}

.Especialidade-dados p {
    margin-bottom: 35px;
    width: 420px;
    text-align: center;
}

.Especialidade-imagens {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Especialidade-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto 20px;
    box-shadow: 0px 0px 10px 0px black;
}

.Especialidade-card img {
    width: 300px;
}
.Especialidade-card p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.Especialidade-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.Especialidade-link a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00a2ff;
    color: white;
    width: 150px;
    height: 45px;
    border-radius: 5px;
}

.Contato {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Contato h2 {
    margin: 20px auto;
}

.Contato p {
    width: 500px;
    margin-bottom: 20px;
    text-align: center;
}

.Rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #25709b;
    margin-top: 60px;
    height: 220px;
}

.Rodape p {
    color:white;
    margin-bottom: 15px;
}

.Rodape img {
    width: 100px;
    margin: 25px auto;
}

@media (max-width: 1024px) {
    .box-visao-geral { height: 400px;}
  }
  
  @media (max-width: 768px) {
    .box-visao-geral { height: 300px;}
    .box-sobre img { display: none;}
    .box-especialidades {justify-content: center;}
    .box-especialidade {
      width: calc(100% / 2 - 40px);
    }
  }
  
  @media (max-width: 425px) {
    .box-visao-geral { height: 200px;}
    .box-visao-geral h1 { font-size: 28px;}
    .box-especialidade {
      width: 100%;
    }
  }